@model Web_Lab1_Cats.Species

@{
    ViewData["Title"] = "Details";
}
    <h1 style="margin-left: 12%">Котики породи @ViewBag.speciesName </h1>

<table class="table">
    <tbody>

        @foreach (var cas in ViewData["catsName"] as List<Cats>)
        {
            <tr>
                <td style="height:350px; border: none">
                    <div class="fom1">
                        <img src="~/img/@Html.DisplayFor(modelItem => cas.Photo)" class="img1" />
                        <br />
                        @*<a class="alltext">
                            @Html.DisplayNameFor(model => model.Name)
                        </a>*@
                        <a class="text1">
                            @Html.ActionLink(@cas.Name, "Details", "Cats", new { id = cas.Id, name = cas.Name })
                            <a> </a>
                        </a><br />
                        @*<div>
                            <h4>Species</h4>
                            <hr />
                            <dl class="row">*@
                                @*<dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Country)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Country)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Wool)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Wool)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Size)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Size)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Lifetime)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Lifetime)
                                </dd>*@
                                @*<dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Cats)
                                </dt>
                                <dd class="col-sm-12">
                                    @foreach (var cas in ViewData["catsName"] as List<Cats>)
                                    {

                                        @Html.ActionLink(@cas.Name, "Details", "Cats", new { id = cas.Id, name = cas.Name })
                                        <a> </a>
                                    }
                                </dd>*@
                            @*</dl>
                        </div>*@
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
