@model IEnumerable<Web_Lab1_Cats.Species>

@{
    ViewData["Title"] = "Породи";
}
    
<h1 style="margin-left: 12%">Породи котиків</h1>

<p>
    <a asp-action="Create" style="margin-left: 12%">Create New</a>
</p>

<table class="table">
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td style="height:350px; border: none">
                    <div class="fom1">
                        <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" class="img1" />
                        <br />
                        <a class="alltext">
                            @Html.DisplayNameFor(model => model.Name)
                        </a>
                        <a class="text1">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a><br />
                        <a class="alltext">
                            @Html.DisplayNameFor(model => model.Country)
                        </a>
                        <a class="text1">
                            @Html.DisplayFor(modelItem => item.Country)
                        </a><br />
                        <a class="alltext">
                            @Html.DisplayNameFor(model => model.Wool)
                        </a>
                        <a class="text1">
                            @Html.DisplayFor(modelItem => item.Wool)
                        </a><br />
                        <a class="alltext">
                            @Html.DisplayNameFor(model => model.Size)
                        </a>
                        <a class="text1">
                            @Html.DisplayFor(modelItem => item.Size)
                        </a><br />
                        <a class="alltext">
                            @Html.DisplayNameFor(model => model.Lifetime)
                        </a>
                        <a class="text1">
                            @Html.DisplayFor(modelItem => item.Lifetime)
                        </a><br />
                        <input type="button" class="butt" value="Перейти до котиків > " onclick="location.href='@Url.Action("Index", "Cats")'" /><br/>
                        <a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </a><br />
                    </div>
                    </td></tr>
            
            }
        </tbody>
    </table>
